In [5]:
from __future__ import absolute_import, division, print_function, unicode_literals
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers

In [8]:
data = {'marks':[55,21,63,88,74,54,95,41,84,52],
        'grade':['average','poor','average','good','good','average','good','average','good','average'],
        'point':['c','f','c+','b+','b','c','a','d+','b+','c']}

In [9]:
df = pd.DataFrame(data)
df

   marks    grade point
0     55  average     c
1     21     poor     f
2     63  average    c+
3     88     good    b+
4     74     good     b
5     54  average     c
6     95     good     a
7     41  average    d+
8     84     good    b+
9     52  average     c

A utility method to show transformation from feature coloumn

In [11]:
def demo(feature_column):
    feature_layer = layers.DenseFeatures(feature_column)
    print(feature_layer(data).numpy())

In [12]:
marks = feature_column.numeric_column("marks")
demo(marks)

[[55.]
 [21.]
 [63.]
 [88.]
 [74.]
 [54.]
 [95.]
 [41.]
 [84.]
 [52.]]